body {
	margin: 0px;
	//background-color: blue;
}

.ramka
{
border-style: solid;
border-width: thick;
border-color: black;
background-color: blue;
margin-right: 400px;
}

.plyta1
{
display: flex;
//justify-content: space-between;
//display: inline-block;
//background-color: red;
}

.pl1
{
//text-align: left;
}

.pl2
{
text-align: left;
}

.pl3
{
text-align: left;
}
