body {
	margin: 0px;
	//background-color: blue;
}


.plyta1
{
display: flex;
//justify-content: space-between;
//display: inline-block;
//background-color: red;
}

.pl1
{
text-align: left;
}

.pl2
{
text-align: left;
}

.pl3
{
text-align: left;
}
